In [1]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
class Gizmo:
    def __init__(self):
        print('Gizmo id : %d' % id(self))
x = Gizmo()

Gizmo id : 2259502534224

In [3]:
y = Gizmo()*10
# 생성된 후 오류발생

Gizmo id : 2259502531728

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [4]:
dir() # y는 없음

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'os',
 'quit',
 'sys',
 'x']

In [5]:
charles = {'name':'Charles L. Dodgson', 'born':1832}
lewis = charles
lewis is charles

True

In [6]:
id(charles), id(lewis)

(2259501438016, 2259501438016)

In [7]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [8]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [9]:
alex is not charles

True

In [10]:
id(charles), id(alex)

(2259501438016, 2259515756928)

In [11]:
t1 = (1,2, [30,40])
t2 = (1,2, [30,40])
t1==t2

True

In [12]:
id(t1[-1])

2259515663104

In [13]:
t1[-1].append(99)
t1

(1, 2, [30, 40, 99])

In [14]:
id(t1[-1])

2259515663104

In [15]:
t1==t2

False

In [16]:
l1 = [3,[55,44],(7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [17]:
l2 == l1

True

In [18]:
l2 is l1

False

In [19]:
l3 = l1[:]
l3 == l1

True

In [20]:
l3 is l1

False

In [21]:
l4 = l1
l4 is l1

True

In [22]:
l1 = [3,[66,55,44],(7,8,9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:',l1)
print('l2:',l2)
l2[1] += [33,22]
l2[2] += (10,11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]
l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [23]:
class Bus:
    
    def __init__(self, passangers = None):
        if passangers is None:
            self.passangers = []
        else:
            self.passangers = list(passangers)
    def pick(self, name):
        self.passangers.append(name)

    def drop(self, name):
        self.passangers.remove(name)

In [24]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(2259515868016, 2259515868208, 2259515868496)

In [25]:
bus1.drop('Bill')
bus2.passangers

['Alice', 'Claire', 'David']

In [26]:
id(bus1), id(bus2), id(bus3)

(2259515868016, 2259515868208, 2259515868496)

In [27]:
bus3.passangers

['Alice', 'Bill', 'Claire', 'David']

In [28]:
def f(a,b):
    a += b
    return a
x = 1
y = 2
f(x,y)

3

In [29]:
x,y

(1, 2)

In [30]:
a = [1,2]
b = [3,4]
f(a,b)

[1, 2, 3, 4]

In [31]:
a,b

([1, 2, 3, 4], [3, 4])

In [32]:
t = (10,20)
u = (30,40)
f(t, u)

(10, 20, 30, 40)

In [33]:
t, u

((10, 20), (30, 40))

In [34]:
class HauntedBus:
    def __init__(self, passengers=[]):
        self.passengers = passengers
    
    def pick(self, name):
        self.passengers.append(name)
    
    def drop(self, name):
        self.passengers.remove(name)

bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [35]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [38]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie', 'Carrie', 'Carrie']

In [39]:
bus3 = HauntedBus()
bus3.passengers

['Carrie', 'Carrie', 'Carrie']

In [40]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Carrie', 'Carrie', 'Dave']

In [41]:
bus2.passengers is bus3.passengers

True

In [42]:
bus1.passengers

['Bill', 'Charlie']

In [43]:
class TwilightBus:
    def __init__(self, passengers=[]):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers    #passengers를 list(passengers) 로 변환해야함
    
    def pick(self, name):
        self.passengers.append(name)
    
    def drop(self, name):
        self.passengers.remove(name)

bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [44]:
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
    print('Gone with the wind')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [45]:
del s1
ender.alive

True

In [46]:
s2 = 'spam'

Gone with the wind

In [47]:
ender.alive

False

In [48]:
s1

NameError: name 's1' is not defined

In [49]:
s2

'spam'

In [50]:
import weakref
a_set = {0,1}
wref = weakref.ref(a_set)
wref

In [51]:
wref()

{0, 1}

In [52]:
a_set = {2,3,4}
wref()

{0, 1}

In [53]:
wref() is None

False

In [54]:
wref() is None

False

In [62]:
class Cheese:
    def __init__(self, kind):
        self.kind = kind
    
    def __repr__(self):
        return 'Cheese(%r)' % self.kind

In [63]:
import weakref
stock = weakref.WeakValueDictionary()
catalog = [Cheese('Red Leicester'), Cheese('Tilsit'), Cheese('Brie'), Cheese('Parmesan')]
for cheese in catalog:
    stock[cheese.kind] = cheese

In [64]:
sorted(stock.keys())

['Brie', 'Parmesan', 'Red Leicester', 'Tilsit']

In [65]:
del catalog
sorted(stock.keys())

['Parmesan']

In [66]:
del cheese
sorted(stock.keys())

[]